<button hc-button class="pull-right" buttonStyle="primary" [hcPop]="exampleOptions">Options</button>

<h1>Progress Stepper</h1>

<hc-pop #exampleOptions>
    <h5>Color:</h5>
    <div *ngFor="let color of colorOptions" (click)="setColor(color)" class="menu-item">
        <hc-icon fontSet="fa" fontIcon="fa-check" [class.active]="color === stepperElement.color"></hc-icon>
        {{ color }}
    </div>
    <h5>Type:</h5>
    <div *ngFor="let type of typeOptions" (click)="setType(type)" class="menu-item">
        <hc-icon fontSet="fa" fontIcon="fa-check" [class.active]="type === stepperElement.type"></hc-icon>
        {{ type }}
    </div>
</hc-pop>

<hc-stepper [steps]="progressSteps" [ngClass]="classList" #stepperElement></hc-stepper>
