@import '~@healthcatalyst/cashmere/scss/colors';

$track-space: 4rem;

@mixin disk-border($border-color) {
    box-shadow: 0px 0px 0px 3px $border-color;
}

@mixin step-arrow($top-bottom, $right) {
    @if $right {
        border-right: $track-space * 0.05 solid $right;
    }
    border-left: $track-space / 4 solid transparent;
    border-top: $track-space / 2 solid $top-bottom;
    border-bottom: $track-space / 2 solid $top-bottom;
    display: block;
    height: 0px;
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;
}

@mixin arrow-theme($active, $complete, $track-bg, $border, $disk-bg, $text) {
    .hc-step-track {
        background-color: $track-bg;
    }

    .hc-step {
        border-top-color: $track-bg;

        &.active {
            background-color: $active;

            &:not(.last) {
                .hc-step-arrow {
                    @include step-arrow($track-bg, null);
                }
            }

            .hc-step-disk {
                @include disk-border($active);
            }

            hc-icon {
                color: $active;
            }
        }

        &.complete {
            background-color: $complete;

            .hc-step-label {
                color: $text;
            }

            .hc-step-disk {
                @include disk-border($complete);
            }

            hc-icon {
                color: $complete;
            }
        }

        &.completed {
            background-color: $complete;

            .hc-step-arrow {
                @include step-arrow($active, null);
            }

            .hc-step-disk {
                @include disk-border($complete);
            }

            .hc-step-label {
                color: $text;
            }

            hc-icon {
                color: $complete;
            }
        }

        &.incomplete {
            .hc-step-label {
                color: unset;
            }

            hc-icon {
                color: $border;
            }
        }

        &:not(.active):not(.last):not(.completed) {
            .hc-step-arrow {
                @include step-arrow($track-bg, null);
            }

            &:after {
                content: '';
                @include step-arrow($border, $border);
                z-index: 1;
            }

            &.complete {
                .hc-step-arrow {
                    @include step-arrow($complete, null);
                }

                &:after {
                    @include step-arrow($active, $active);
                    content: '';
                    z-index: 1;
                }
            }
        }
    }

    .hc-step-disk {
        @include disk-border($border);
        background: $disk-bg;
        border-radius: 50%;
        display: block;
        font-size: 0.9rem;
        height: $track-space * 0.4;
        left: $track-space * 0.3;
        line-height: $track-space * 0.4;
        position: absolute;
        text-align: center;
        top: $track-space * 0.3;
        width: $track-space * 0.4;
    }

    .hc-step-label {
        color: $text;
    }

    hc-icon {
        font-size: $track-space * 0.25;
        height: 100%;
        line-height: $track-space * 0.4;
        width: 100%;
    }
}

@mixin isolated-track($track-color, $track-height, $disk-size) {
    background: $track-color;
    content: '';
    display: block;
    height: $track-height;
    left: 0px;
    margin-top: -($track-height / 2);
    position: absolute;
    right: 0px;
    top: $disk-size / 2;
    z-index: 1;
}

@mixin isolated-theme($active, $track-bg, $disk-bg, $text) {
    $disk-size: 2rem;
    $track-height: 0.5rem;

    .hc-step {
        padding-top: $disk-size;

        &:before {
            @include isolated-track($track-bg, $track-height, $disk-size);
        }

        &.complete,
        &.completed {
            .hc-step-disk {
                @include disk-border($active);
            }

            &:before {
                background: $active;
            }

            hc-icon {
                color: $active;
            }
        }

        &.active {
            .hc-step-disk {
                @include disk-border($active);
            }

            .hc-step-label,
            .hc-step-label-count {
                font-weight: 600;
            }

            hc-icon {
                color: $active;
            }

            &:before {
                background: $active;
                right: 50%;
            }

            &:after {
                @include isolated-track($track-bg, $track-height, $disk-size);
                left: 50%;
            }
        }

        &.incomplete {
            hc-icon {
                color: $track-bg;
            }
        }

        &.first {
            &:before {
                left: 50%;
            }
        }

        &.last {
            &:before {
                right: 50%;
            }
        }
    }

    .hc-step-label,
    .hc-step-label-count {
        color: $text;
        display: inline-block;
        line-height: $disk-size;
        padding: 0 0.15rem;
    }

    .hc-step-label-count {
        &:after {
            content: '.';
        }
    }

    .hc-step-disk {
        @include disk-border($track-bg);
        background: $disk-bg;
        border-radius: 50%;
        display: block;
        font-size: 1rem;
        height: $disk-size;
        left: 50%;
        line-height: $disk-size;
        margin-left: -($disk-size / 2);
        position: absolute;
        text-align: center;
        top: 0px;
        width: $disk-size;
        z-index: 2;
    }

    hc-icon {
        font-size: $track-space * 0.35;
        height: 100%;
        line-height: $track-space * 0.48;
        width: 100%;
    }
}

:host(.default) {
    .hc-step-track {
        display: flex;
        flex-direction: row;
    }

    .hc-step {
        flex: 1;
        position: relative;
    }

    .arrow {
        .hc-step {
            line-height: $track-space;
            padding-left: $track-space * 0.9;
        }

        .hc-step-label-count {
            display: none;
        }
    }

    &.action {
        .arrow {
            @include arrow-theme($primary-action, #1fbe74, $slate-gray-100, $slate-gray-200, #fff, #fff);
        }
        .isolated {
            @include isolated-theme($primary-action, $slate-gray-200, #fff, #444);
        }
    }

    &.brand {
        .arrow {
            @include arrow-theme($primary-brand, #43c1fc, $slate-gray-100, $slate-gray-200, #fff, #fff);
        }
        .isolated {
            @include isolated-theme($primary-brand, $slate-gray-200, #fff, #444);
        }
    }

    .isolated {
        .hc-step {
            text-align: center;
        }
    }
}
