<div class="hc-step-container" [ngClass]="typeClass">
    <div class="hc-step-track">
        <div
            class="hc-step"
            *ngFor="let step of steps; index as i; last as isLast; first as isFirst"
            [class.active]="i === activeIndex"
            [class.incomplete]="i > activeIndex"
            [class.complete]="i < activeIndex - 1"
            [class.completed]="i === activeIndex - 1"
            [class.last]="isLast"
            [class.first]="isFirst"
        >
            <span class="hc-step-disk">
                <ng-container *ngIf="step.iconSet && step.icon; else elseBlock">
                    <hc-icon [fontSet]="step.iconSet" [fontIcon]="step.icon"></hc-icon>
                </ng-container>
                <ng-template #elseBlock>{{ i + 1 }}</ng-template>
            </span>
            <span class="hc-step-label-count">{{ i + 1 }}</span>
            <span class="hc-step-label">{{ step.label }}</span>
            <span class="hc-step-arrow"></span>
        </div>
        <ng-content></ng-content>
    </div>
    <div *ngIf="useRouterOutlet" class="hc-step-content">
        <router-outlet *ngIf="routerEnabled"></router-outlet>
    </div>
</div>
